[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
python-decouple = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
